.input_location {
  padding: 18px 0 18px 44px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #f7f7f7;
}

.container_location {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}

.label_location {
  color: rgba(16, 24, 40, 0.6);
  font-weight: 500;
}

.input_wrapper {
  position: relative;
}

.logo_location {
  width: 18px;
  height: 20px;
  fill: none;
  stroke: rgba(16, 24, 40, 0.6);
  position: absolute;
  left: 18px;
  top: 19px;
}

.input_location:focus + .logo_location {
  stroke: var(--primary-color);
}
