.item_details {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}

.header_detail {
  text-align: center;
  font-weight: 500;
  line-height: 20px;
}

.list_details {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  align-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--primary-color);
}
