@import-normalize;

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Inter-SemiBold.woff2') format('woff2');
}

:root {
  /* COLORS */
  --primary-color: #101828;
  --accent-color: #e44848;
  /* FONTS */
  --primary-font: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

.list_item {
  text-align: center;
  font-weight: 500;
  line-height: 20px;
}

button {
  cursor: pointer;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list,
ul,
li {
  list-style-type: none;
}

ul {
  list-style: none;
}

.link,
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

input,
textarea,
button {
  font: inherit;
  margin: 0;
  padding: 0;
  border-color: transparent;
  width: 100%;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content_container {
  display: flex;
  gap: 64px;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 64px;
}

.react-datepicker {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  background: #fff;
}

.react-datepicker__header {
  background-color: #fff;
  border-bottom: none;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 16px;
}

.react-datepicker__navigation--previous {
  left: 16px;
}

.react-datepicker__navigation--next {
  right: 16px;
}

.react-datepicker__day-name {
  width: 41px;
  flex-shrink: 0;
  color: #475467;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.react-datepicker__day {
  width: 41px;
  height: 32px;
}

.react-datepicker__day:hover {
  width: 41px;
  height: 32px;
  background-color: #eacdcd;
}

.react-datepicker__day--selected {
  background-color: var(--accent-color);
  color: #fff;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  background-color: transparent;
}

.react-datepicker__navigation-icon--previous::before,
.react-datepicker__navigation-icon--next::before {
  border-color: var(--primary-color);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__month-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__quarter-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__year-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: #f18888;
}
